{{!-- This page that will load after user login --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand pt-0 pb-0" href="/"><img  src="styles/img/logo1.jpg" alt="HTML5 Icon" style="width:100px;height:80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userProfile">Your Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addItem">Add New Item</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Log Out</a>
        </li>
      </ul>
      <div class="dropdown mr-5" >
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#!">Search Everything</a>
          <a class="dropdown-item" href="#!">Clothing</a>
          <a class="dropdown-item" href="#!">Furniture</a>
          <a class="dropdown-item" href="#!">Cars</a>
          <a class="dropdown-item" href="#!">Electronics</a>
        </div>
      </div>
    </div>
  </nav>


<div id="home">
  <div class="container row col-12 justify-content-center">
    <h3>All Items For Sale</h3>
  </div>
  
  <div class="container row col-12 ml-5">
    {{#each items}}
    <div class="card mb-3">
    <h3 class="card-header text-capitalize">{{this.title}}</h3>
    <a href="*"><img style="height: 200px; width: 100%; display: block;"
        src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        alt="Card image"></a>
  </div>
  {{/each}}
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>