{{!-- This page that will load after user login --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand pt-0 pb-0" href="/"><img src="styles/img/logo1.jpg" alt="HTML5 Icon"
      style="width:100px;height:80px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userProfile">Your Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addItem">Add New Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>

    </ul>
    {{!-- <div class="dropdown mr-5" >
        <div class="form-group" id="dropdown">
            <select class="form-control" name="categories" id="dropdown">
              <option class="dropdown-item" value="everything">EveryThing</option>
              <option class="dropdown-item" value="Clothing">Clothing</option>
              <option class="dropdown-item" value="Furniture">Furniture</option>
              <option class="dropdown-item" value="Cars">Cars</option>
              <option class="dropdown-item" value="Electronics">Electronics</option>
            </select>
          </div>
        </div> --}}
  </div>
  </div>
</nav>


<div id="home">
  <div class="container row col-12 justify-content-center">
    <h3>All Items For Sale</h3>
    <h4></h4>
  </div>
  <div class="container row col-12 ml-5">
    {{#each items}}
    <div class="card col-4 mb-3">
      <h3 class="card-header text-capitalize">{{this.title}}</h3>
      <a href="/oneItem/{{this.id}}"><img style="height: 200px; width: 100%; display: block;" src="{{this.image}}"
          alt="Card image"></a>
    </div>
    {{/each}}
    <h3 class="card-header text-capitalize">{{this.title}}</h3>
  </div>
</div>